<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>BH Search Page</title>
  <style type="text/css">
    body {
        font-family: Arial, Helvetica, sans-serif;
        font-size:13px;
        color:#333333;
        padding: 0;
        margin: 0;
    }
    a {
        color:#00307f;
    }
    p { margin:0.6em 0; }
    ul,ol,li{ margin:0; padding:0;}
    ul,ol{ margin:0em 0 1.2em 2.6em; }
    section.row {
        padding: 1.6em 1.6em;
        border-bottom:1px solid #CCCCCC;
    }
    section.row:nth-child(odd){
        background-color:#FCFCFC;
    }
    section.row:nth-child(even){
        background-color:#F6F6F6;
    }
    div.row_info {

    }
  </style>
</head>

<body>

{{#tracks_content}}
<section class="row">

    <div class="row_info">
        <p><strong>Track #{{id}}</strong></p>
    </div>

    <div class="row_info">
        <p>
            <strong>Title</strong>
            <span>{{title}}</span>
            [
            <a href="https://www.beatport.com/search/tracks?q={{q_title_plus}}+{{q_artists_plus}}" target="_blank">Beatport</a>
            <a href="https://www.beatport.com/search/tracks?q={{q_title_plus}}" target="_blank">Beatport2</a>
            <a href="https://soundcloud.com/search/sounds?q={{q_title_plus}}+{{q_artists_plus}}" target="_blank">Soundcloud</a>
            <a href="https://soundcloud.com/search/sounds?q={{q_title_plus}}" target="_blank">Soundcloud2</a>
            <a href='https://www.google.com/search?&tbm=isch&source=lnms&q={{q_title_plus}}+"{{q_artists_plus}}"&oq={{q_title_plus}}+"{{q_artists_plus}}"' target="_blank">Artwork</a>
            ]
        </p>
    </div>

    {{#artists}}
    <div class="row_info">
        <p>
            <strong>Artist</strong>
            <span>{{name}}</span>
            [
            <a href='https://www.google.com/search?q="instagram"+"{{q_name_plus}}"&oq="instagram"+"{{q_name_plus}}"' target="_blank">Instagram</a>
            <a href='https://www.google.com/search?q="instagram"+"{{q_title_plus}}+"{{q_name_plus}}"&oq="instagram"+{{q_title_plus}}+"{{q_name_plus}}"' target="_blank">Instagram2</a>
            <a href='https://www.facebook.com/search/pages/?q={{q_name_plus}}' target="_blank">Facebook</a>
            ]
        </p>

        <p>
            <strong>Artist {{name}}: social profiles</strong>
            {{^instagram_tags.length}}
            <small><strong style="color:#FF0000;">[empty]</strong></small>
            {{/instagram_tags.length}}
        </p>

        <ul>
            {{#instagram_tags}}
            <li><a href="https://www.instagram.com/{{.}}" target="_blank">{{.}} (instagram)</a></li>
            {{/instagram_tags}}

            {{#facebook_tags}}
            <li><a href="https://www.facebook.com/{{.}}" target="_blank">{{.}} (facebook)</a></li>
            {{/facebook_tags}}
        </ul>

    </div>
    {{/artists}}


    {{#remixers}}
    <div class="row_info">
        <p>
            <strong>Remixer</strong>
            <span>{{name}}</span>
            [
            <a href='https://www.google.com/search?q="instagram"+"{{q_name_plus}}"&oq="instagram"+"{{q_name_plus}}"' target="_blank">Google</a>
            <a href='https://www.google.com/search?q="instagram"+"{{q_title_plus}}+"{{q_name_plus}}"&oq="instagram"+{{q_title_plus}}+"{{q_name_plus}}"' target="_blank">Google2</a>
            <a href='https://www.facebook.com/search/pages/?q={{q_name_plus}}' target="_blank">Facebook</a>
            ]
        </p>

        <p>
            <strong>Remixer {{name}}: social profiles</strong>
            {{^instagram_tags.length}}
            <small><strong style="color:#FF0000;">[empty]</strong></small>
            {{/instagram_tags.length}}
        </p>

        <ul>
            {{#instagram_tags}}
            <li><a href="https://www.instagram.com/{{.}}" target="_blank">{{.}} (instagram)</a></li>
            {{/instagram_tags}}

            {{#facebook_tags}}
            <li><a href="https://www.facebook.com/{{.}}" target="_blank">{{.}} (facebook)</a></li>
            {{/facebook_tags}}
        </ul>

    </div>
    {{/remixers}}


    {{#labels}}
    <div class="row_info">
        <p>
            <strong>Label</strong>
            <span>{{name}}</span>
            [
            <a href='https://www.google.com/search?q="instagram"+"{{q_name_plus}}"&oq="instagram"+"{{q_name_plus}}"' target="_blank">Google</a>
            <a href='https://www.facebook.com/search/pages/?q={{q_name_plus}}' target="_blank">Facebook</a>
            ]
        </p>
        <p>
            <strong>Label {{name}}: social profiles</strong>
            {{^instagram_tags.length}}
            <small><strong style="color:#FF0000;">[empty]</strong></small>
            {{/instagram_tags.length}}
        </p>

        <ul>
            {{#instagram_tags}}
            <li><a href="https://www.instagram.com/{{.}}" target="_blank">{{.}} (instagram)</a></li>
            {{/instagram_tags}}

            {{#facebook_tags}}
            <li><a href="https://www.facebook.com/{{.}}" target="_blank">{{.}} (facebook)</a></li>
            {{/facebook_tags}}
        </ul>
    </div>
    {{/labels}}


    <div class="row_info">
        <p>
            <strong>Buy</strong>
            [
            <a href="https://www.beatport.com/search/tracks?q={{q_title_plus}}+{{q_artists_plus}}" target="_blank">Beatport</a>
            <a href="https://www.traxsource.com/search?term={{q_title_plus}}+{{q_artists_plus}}" target="_blank">Traxsource</a>
            <a href="https://www.decks.de/decks/workfloor/search_db.php?such={{q_title_plus}}+{{q_artists_plus}}&wosuch=all&wassuch=atl&where=" target="_blank">Decks.de</a>
            <a href="https://www.junodownload.com/search/?q%5Ball%5D%5B%5D={{q_title_plus}}+{{q_artists_plus}}" target="_blank">JunoDownload</a>
            ]
        </p>
    </div>


    <div class="row_info">
        <p>
            <strong>Listen</strong>
            [
            <a href="https://soundcloud.com/search/sounds?q={{q_title_plus}}+{{q_artists_plus}}" target="_blank">Soundcloud</a>
            <a href="https://bandcamp.com/search?q={{q_title_space}} {{q_artists_space}}" target="_blank">Bandcamp</a>
            <a href="https://open.spotify.com/search/results/{{q_title_space}} {{q_artists_space}}" target="_blank">Spotify</a>
            ]
        </p>
    </div>


    <div class="row_info">
        <p>
            <strong>Watch</strong>
            [
            <a href="https://www.youtube.com/results?search_query={{q_title_plus}}+{{q_artists_plus}}" target="_blank">YouTube</a>
            <a href="hhttps://www.facebook.com/search/videos/?q={{q_title_space}} {{q_artists_space}}" target="_blank">Facebook</a>
            ]
        </p>
    </div>

</section>
{{/tracks_content}}

</body>
</html>
