
    <section class="row">

        <div class="row_info">
            <strong>Track #{{id}}</strong>
        </div>

        <div class="row_info">
            <strong>Title</strong>
            <span>{{title}}</span>
            <a href="https://www.beatport.com/search/tracks?q={{q_general}}" target="_blank">Beatport</a>
            <a href="https://www.beatport.com/search/tracks?q={{q_title}}" target="_blank">Beatport2</a>
            <a href="https://soundcloud.com/search/sounds?q={{q_general}}" target="_blank">Soundcloud</a>
            <a href="https://soundcloud.com/search/sounds?q={{q_title}}" target="_blank">Soundcloud2</a>
            <a href='https://www.google.com/search?&tbm=isch&source=lnms&q={{q_title}}+"{{q_artist}}"&oq={{q_title}}+"{{q_artist}}"' target="_blank">Artwork</a>
        </div>

        <div class="row_info">
            <strong>Artist</strong>
            <span>{{artist}}</span>
            <a href='https://www.google.com/search?q="instagram"+"{{q_artist}}"&oq="instagram"+"{{q_artist}}"' target="_blank">Google</a>
            <a href='https://www.google.com/search?q="instagram"+"{{q_title}}+"{{q_artist}}"&oq="instagram"+{{q_title}}+"{{q_artist}}"' target="_blank">Google2</a>
        </div>

    </section>
