<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>BH Search Page</title>
  <style type="text/css">
    body {
        font-family: Arial, Helvetica, sans-serif;
        font-size:13px;
        color:#333333;
        padding: 0;
        margin: 0;
    }
    a {
        color:#00307f;
    }
    section.row {
        padding: 1.6em 1.6em;
        border-bottom:1px solid #CCCCCC;
    }
    section.row:nth-child(odd){
        background-color:#FCFCFC;
    }
    section.row:nth-child(even){
        background-color:#F6F6F6;
    }
    div.row_info {
        margin-bottom:0.3em;
    }
  </style>
</head>

<body>
{{content}}
</body>
</html>
